.address__title,
.address__subtitle {
  text-align: start;
  font-size: 14px;
}

.address__title {
  width: 33.33%;
}

.address__subtitle {
  width: 66.67%;
}

@media (min-width: @tablet-width) {
  .address {
    margin-right: 38px;
    margin-left: auto;
  }
}
