.advantages__title {
  font-weight: 700;
  font-size: 25px;
  color: @color-black;
}

.advantages__item {
  padding-top: 80px;
  list-style-type: none;
}

.advantages__text {
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  color: @color-black;
}
