.basket-add__title {
  margin-bottom: 14px;
  font-weight: 700;
  font-size: 25px;
  color: @color-black;
  text-align: center;
  text-transform: uppercase;
}

.basket-add__choice {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 7px;
  border: none;
}

.basket-add__button {
  width: 100%;
  height: 52px;
  margin-top: 31px;
  border: 2px solid @color-green;
  background-color: @color-green;
  color: @color-wite;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  cursor: pointer;
}

.basket-add__button:hover,
.basket-add__button:focus {
  background-color: @color-wite;
  color: @color-green;
}

.basket-add__button:active {
  opacity: 0.3;
}

@media (min-width: @tablet-width) {
  .basket-add__title {
    font-size: 30px;
    line-height: 57px;
  }

  .basket-add__form {
    padding-left: 15px;
    padding-right: 15px;
  }
}
