.button-slide__switch {
  width: 50%;
  height: 52px;
  border: 1px solid @color-light-grey;
  background-color: transparent;
}

.button-slide__switch--prev {
  border-right: none;
}

@media (min-width: @tablet-width) {
  .button-slide {
    position: absolute;
    width: 175px;
    justify-content: space-between;
    margin: 0;
    right: 50px;
    bottom: 79px;
  }

  .button-slide__switch {
    border: none;
    background-color: @color-black;
  }
}

@media (min-width: @desktop-width) {
  .button-slide {
    right: 0;
  }
}
