.button {
  text-transform: uppercase;
  background-color: @color-wite;
  border: 2px solid @color-light-black;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: @color-light-black;
  cursor: pointer;
}
