.copyright__text {
  display: flex;
  align-self: center;
  margin-right: 27px;
  font-weight: 700;
  font-size: 19px;
  line-height: 18px;
  color: @color-black;
}

.copyright__link {
  outline: none;
}

.copyright__icon {
  display: block;
  fill: @color-green;
}

.copyright__link:hover .copyright__icon,
.copyright__link:focus .copyright__icon {
  fill: @color-link-toy;
}

.copyright__icon:active {
  opacity: 0.3;
}
