.email__title,
.email__subtitle {
  text-align: start;
  font-size: 14px;
}

.email__title {
  width: 33.33%;
}

.email__subtitle {
  position: relative;
  width: 167px;
  text-decoration: none;
  color: @color-light-black;
  border-bottom: 1px solid @color-light-green;
}

.email__subtitle:hover,
.email__subtitle:focus {
  outline: none;
  color: @color-link-toy;
  border-color: @color-link-toy;
}

.email__subtitle:active {
  border-color: fade(@color-link-toy, 10%);
}

@media (min-width: @tablet-width) {
  .email {
    margin-bottom: 30px;
  }

  .email__subtitle {
    width: 230px;
  }

  .email__title,
  .email__subtitle {
    font-size: 17px;
  }
}

@media (min-width: @desktop-width) {
  .email__subtitle {
    width: 210px;
  }
}
