.email__title,
.email__subtitle {
  text-align: start;
  font-size: 14px;
}

.email__title {
  width: 29%;
}

.email__subtitle {
  position: relative;
  align-self: flex-start;
  width: 167px;
  text-decoration: none;
  color: @color-light-black;
}

.email__subtitle::after {
  content: "";
  position: absolute;
  bottom: 4px;
  left: 3px;
  width: 100%;
  height: 1px;
  background-color: @color-light-green;
}

.email__subtitle:hover,
.email__subtitle:focus {
  outline: none;
  color: @color-link-toy;

  &::after {
    background-color: @color-link-toy;
  }
}

.email__subtitle:active {
  &::after {
    background-color: fade(@color-link-toy, 10%);
  }
}

@media (min-width: @tablet-width) {
  .email {
    margin-bottom: 30px;
  }

  .email__subtitle {
    width: 230px;

    &::after {
      bottom: 0;
    }
  }

  .email__title,
  .email__subtitle {
    font-size: 17px;
  }
}

@media (min-width: @desktop-width) {
  .email__title {
    width: 26%;
  }

  .email__subtitle {
    width: 210px;

    &::after {
      bottom: -5px;
      left: 0;
      width: 98%;
    }
  }
}
