.fieldset__title {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 30px;
  padding-right: 30px;
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  color: @color-green;
  text-transform: uppercase;
  box-sizing: border-box;
}

.fieldset__title::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: @color-green;
  margin-left: 20px;
}

.fieldset__list--checkbox {
  display: grid;
  grid-template-columns: 1fr;
  gap: 23px;
}

.fieldset__item {
  list-style-type: none;
}

.fieldset__item--name:not(:last-child) {
  margin-bottom: 22px;
}

.fieldset__item--contacts:not(:last-child) {
  margin-bottom: 35px;
}

.fieldset--radio {
  padding-top: 30px;
  padding-bottom: 31px;
}

.fieldset--checkbox {
  padding-top: 25px;
  padding-bottom: 33px;
}

.fieldset--name {
  padding-top: 29px;
  padding-bottom: 35px;
}

.fieldset--contacts {
  padding-top: 5px;
  padding-bottom: 35px;
}

.fieldset--additionally {
  padding-top: 23px;
  padding-bottom: 17px;
}

@media (min-width: @tablet-width) {
  .fieldset:nth-child(2n) {
    background-color: @color-grey;
  }

  .fieldset__title {
    position: absolute;
    left: 50px;
    top: 0;
    padding: 0;
  }

  .fieldset__title::after {
    display: none;
  }

  .fieldset__title--radio {
    top: 8px;
  }

  .fieldset--radio {
    padding-top: 0;
    padding-bottom: 50px;
  }

  .fieldset--checkbox {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .fieldset__title--checkbox {
    top: 5px;
  }

  .fieldset__list--checkbox {
    grid-template-columns: 1fr 1fr;
    gap: 24px;
  }

  .fieldset__title--name {
    top: 16px;
  }
}

@media (min-width: @tablet-width) {
  .fieldset__list {
    padding-left: 20%;
  }

  .fieldset__list--contacts {
    padding-left: 0;
  }

  .fieldset--name {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .fieldset--contacts {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .fieldset__item--name {
    display: flex;
  }

  .fieldset__item--contacts:not(:last-child) {
    margin-bottom: 24px;
  }

  .fieldset__item--contacts,
  .fieldset__item--email {
    display: flex;
  }

  .fieldset--additionally {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

@media (min-width: @desktop-width) {
  .fieldset__title {
    left: 97px;
  }

  .fieldset__list {
    padding-left: 16%;
    padding-right: 17%;
  }

  .fieldset__list--checkbox {
    grid-template-columns: 1fr 1fr 1fr;
    padding-right: 105px;
  }

  .fieldset__list--contacts {
    padding-left: 50px;
  }
}
