.link-goods__item {
  position: relative;
}

.link-goods__item--green {
  background-color: @color-green;
}

.link-goods__item--darck-green {
  background-color: @color-darck-gr;
}

.link-goods__link {
  display: block;
  position: relative;
  padding: 24px 36px 31px 30px;
  font-family: inherit;
  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
  color: @color-wite;
  text-decoration: none;
}

.link-goods__icon {
  position: absolute;
  fill: fade(@color-interior, 50%);
}

.link-goods__icon--interior {
  right: 36px;
  top: 23px;
}

.link-goods__icon--toys {
  right: 27px;
  top: 21px;
}

.link-goods__link:focus-visible {
  border: none;
  outline: none;
}

.link-goods__item--green:hover,
.link-goods__item--green:focus {
  background-color: @color-link-interior;
}

.link-goods__item--darck-green:hover,
.link-goods__item--darck-green:focus {
  background-color: @color-link-toy;
}

.link-goods__link:hover .link-goods__icon,
.link-goods__link:focus .link-goods__icon {
  opacity: 0.7;
}

.link-goods__link:active .link-goods__icon {
  opacity: 0.3;
}

@media (min-width: @tablet-width) {
  .link-goods__item {
    min-width: 50%;
  }

  .link-goods__link {
    padding: 25px 36px 51px;
    font-size: 20px;
    line-height: 30px;
  }

  .link-goods__icon--interior {
    top: 30px;
    right: 36px;
  }

  .link-goods__icon--toys {
    right: 33px;
    top: 31px;
  }
}

@media (min-width: @desktop-width) {
  .link-goods__icon--toys {
    right: 35px;
  }
}
