.order__text {
  padding-top: 16px;
  font-size: 13px;
  line-height: 24px;
}

.order__form {
  padding-bottom: 55px;
}

.order__item {
  border: none;
}

.order__required {
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 16px;
}

.order__button {
  padding: 18px 37px;
  font-size: 17px;
  line-height: 16px;
}

@media (min-width: @tablet-width) {
  .order__text {
    padding: 57px 0 65px 0;
    font-size: 17px;
    line-height: 30px;
  }

  .order__form {
    padding-bottom: 50px;
  }

  .order__required {
    margin-top: 12px;
    margin-bottom: 0;
    font-size: 17px;
    line-height: 30px;
  }

  .order__button {
    width: 230px;
    padding: 0;
    padding-top: 3px;
  }
}

@media (min-width: @desktop-width) {
  .order__text {
    padding: 100px 175px 62px 175px;
  }

  .order__required {
    margin-right: 175px;
  }

  .order__button {
    margin-left: 175px;
  }
}
