.page-footer {
  background-color: @color-grey;
}

.page-footer__logo {
  display: none;
}

.page-footer__social {
  position: relative;
  padding-bottom: 27px;
}

.page-footer__copyright {
  display: flex;
  justify-content: center;
  padding-top: 22px;
}
