.production-subtitle {
  padding: 35px 32px 33px 33px;
}

.production-subtitle__description {
  font-size: 13px;
  line-height: 24px;
  margin-bottom: 40px;
}

@media (min-width: @tablet-width) {
  .production-subtitle {
    padding: 0 41px 45px;
  }

  .production-subtitle__description {
    font-size: 15px;
    line-height: 30px;
  }
}

@media (min-width: @desktop-width) {
  .production-subtitle {
    grid-column: 2/3;
    grid-row: 2/3;
    padding-left: 63px;
    padding-right: 56px;
  }

  .production-subtitle__description {
    margin-bottom: 51px;
    padding-bottom: 0;
  }
}
