.production {
  border: 1px solid @color-light-grey;
}

.production__title {
  display: flex;
  position: relative;
  padding: 22px 13px 26px 91px;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: @color-black;
  justify-content: flex-end;
}

.production__title--icon::before {
  content: "";
  position: absolute;
  display: block;
  width: 32px;
  height: 22px;
  top: 50%;
  left: 34px;
  transform: translateY(-50%);
  background-image: url("../img/svg/video.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto auto;
}

.production__video {
  display: block;
}

.production__button {
  display: block;
  padding: 18px 11px;
  text-decoration: none;
  box-sizing: border-box;
  line-height: 16px;
}

.production:hover,
.production:focus {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
}

.production:active {
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
}

@media (min-width: @tablet-width) {
  .production {
    display: grid;
    grid-template-columns: 1fr;
  }

  .production__title {
    grid-row: 2/3;
    justify-content: flex-start;
    margin-left: 41px;
    padding-top: 42px;
    padding-left: 65px;
    padding-bottom: 24px;
    font-size: 20px;
  }

  .production__title--icon::before {
    left: 0;
    top: 50px;
  }
}

@media (min-width: @desktop-width) {
  .production {
    grid-template-columns: 2fr 1fr;
  }

  .production__title {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 47px;
    margin-left: 0;
    padding: 49px 50px 27px 62px;
  }

  .production__title--icon::before {
    top: 10px;
    left: 62px;
  }

  .production__video {
    grid-column: 1/2;
    grid-row: 1/4;
    margin-right: 17px;
  }
}
