.production {
  border: 1px solid @color-light-grey;
}

.production__title {
  display: flex;
  padding: 22px 13px 26px 34px;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: @color-black;
  justify-content: flex-end;
}

.production__video {
  display: block;
  position: relative;
}

.production__button {
  display: block;
  padding: 18px 11px;
  text-decoration: none;
  box-sizing: border-box;
  line-height: 16px;
}
