.product__title {
  margin-bottom: 3px;
  font-weight: 700;
  font-size: 25px;
  color: @color-black;
}

.product__subtitle {
  margin-bottom: 17px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  color: @color-green;
}

.product__description {
  margin-bottom: 28px;
  font-size: 15px;
  line-height: 24px;
}

.product__image {
  display: block;
  width: 100%;
  height: auto;
  min-height: 315px;
  object-fit: cover;
}

.product__text {
  margin-bottom: 25px;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
}

.product__button {
  padding: 16px 70px;
}

.product__specification {
  width: 100%;
  border-collapse: collapse;
}
