.product-buy-wrapper {
  display: block;
  text-align: center;
  margin-bottom: 36px;
}

@media (min-width: @tablet-width) {
  .product-buy-wrapper {
    position: absolute;
    width: 47%;
    left: 0;
    bottom: 0;
    margin-bottom: 0;
  }
}

@media (min-width: @desktop-width) {
  .product-buy-wrapper {
    width: 30%;
    left: 185px;
  }
}
