.product__top {
  margin-bottom: 17px;
}

.product__title {
  margin-bottom: 3px;
  font-weight: 700;
  font-size: 25px;
  color: @color-black;
}

.product__subtitle {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  color: @color-green;
}

.product__description {
  margin-bottom: 28px;
  font-size: 15px;
  line-height: 24px;
}

.product__image {
  display: block;
  width: 100%;
  height: auto;
  min-height: 315px;
  object-fit: cover;
}

.product__text {
  margin-bottom: 25px;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
}

.product__button {
  padding: 16px 70px;
}

.product__specification {
  width: 100%;
  border-collapse: collapse;
}

@media (min-width: @tablet-width) {
  .product__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 37px;
  }

  .product__title {
    font-size: 43px;
    line-height: 50px;
  }

  .product__subtitle {
    width: 100px;
    text-align: center;
    margin-right: 28px;
  }

  .product__description {
    padding-right: 65px;
    font-size: 17px;
    line-height: 30px;
  }
}

@media (min-width: @tablet-width) {
  .product__bottom {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 42px;
    position: relative;
  }

  .product__middle {
    grid-column: 1/2;
  }

  .product__text {
    margin-bottom: 33px;
    font-size: 20px;
  }
}
