.reviews__title {
  margin-bottom: 14px;
  font-weight: 700;
  font-size: 25px;
  color: @color-black;
}

.reviews__slider {
  display: flex;
  margin-bottom: 38px;
}

.reviews__button {
  display: inline-block;
  text-decoration: none;
  box-sizing: border-box;
}
