.specification {
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
}

.specification__item {
  border-bottom: 1px solid @color-light-grey;
  height: 39px;
}

.specification__item th {
  width: 37.6%;
  text-align: start;
  font-weight: inherit;
}
